<form [formGroup]="formGroup" (submit)="login()">
  <mat-form-field>
    <input matInput formControlName="username" placeholder="Username">
    <mat-error *ngIf="formGroup.controls.username.invalid">Username is required.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput 
      formControlName="password" 
      placeholder="Password"
      type="password">
      <mat-error *ngIf="formGroup.controls.password.invalid">Password is required.</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit">Login</button>
</form>